attrs==26.1.0 ; python_version >= "3.10"
certifi==2026.6.17 ; python_version >= "3.10"
charset-normalizer==3.4.7 ; python_version >= "3.10"
click==8.4.1 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and platform_system == "Windows"
decorator==5.3.1 ; python_version >= "3.10"
idna==3.18 ; python_version >= "3.10"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10"
jsonschema==4.26.0 ; python_version >= "3.10"
referencing==0.37.0 ; python_version >= "3.10"
requests==2.34.2 ; python_version >= "3.10"
rpds-py==0.30.0 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
typing-extensions==4.15.0 ; python_version < "3.13" and python_version >= "3.10"
urllib3==1.26.20 ; python_version >= "3.10"
validators==0.18.2 ; python_version >= "3.10"
